.netrwhist
npm-debug.log
# config/nvim/spell
# config/nvim/shada
# vim/vim.symlink/spell/
# vim/vim.symlink/plugged/
Brewfile.lock.json
lazy-lock.json
config/.config/kitty/kitty-overrides.conf
config/.config/tmux/plugins
config/.config/bat/themes
